*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: 300px;
}
span {
    font-weight: bolder;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}